.favourite {
  display: block;
  margin: 10px;
  padding: 5px;
  background: white;
}

.favourite span {
  display: inline-block;
  padding-left: 10px;
  width: calc(100% - 130px);
}

.remove {
  border-radius: 0;
  background: red;
  color: white;
  border: red;
  font-weight: bold;
  width: 120px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.remove:hover {
  color: white;
  background: rgb(255, 124, 124);
}