.nav-bar {
  box-sizing: border-box;
  background: white;
  border-bottom: 3px solid #aea2fc;
}

.logo {
  padding: 10px 40px 10px 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width:200px;
}

.logo-icon {
  padding-right: 8px; 
  color: rgb(57, 57, 107);
}

.nav {
  margin: 0;
  padding: 0;
  height:100%;
  width: calc(100% - 260px);
  display: inline-block;
}

.nav .item, .nav button, .nav span {
  display: inline-block;
  font-size: 19px;
  width: auto;
}

.item {
  padding: 12px 20px;
}

.nav span, .nav button {
  float: right;
}

.nav button {
  padding: 12px 20px;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

.item:hover {
  cursor: pointer;
  background: lavender;
}