.flex-wrapper {
  display: flex;
}

.sort-fields {
  width: 15%;
  height: 100vh;
  background: white;
}

.sort-fields a, .sort-fields span {
  display: block;
  padding: 5px 8px;
}

.sort-fields .filter-title {
  font-style: italic;
  font-weight: bold;
  margin-top: 8px;
}

.properties {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  justify-content: center;
}

.property-card {
  margin: 5px;
  width: 30%;
}