.flex-wrapper {
  display: flex;
}

.city-search {
  width: 15%;
  height: 100vh;
}

.city-search a, .city-search span {
  display: block;
}

.properties {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.property-card {
  margin: 5px;
  width: 30%;
}